.card-container {
  display: flex;
  justify-content: center;
  margin: 3em auto 0 auto;
  padding: 0.5em;
}

.card-container:hover {
  transform: translateY(-0.2em);
}

.content-container {
  width: 220px;
  height: 220px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: white;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  padding: 3em 0 2em 4em;
  border-radius: 0.5em;
  font-size: 0.8em;
  box-shadow: 1px 0 0.8rem gray;
}

.content-container:hover {
  background-color: white;
  transition: background-color 0.5s ease;
}

.img-container img {
  position: relative;
  width: 10em;
  height: auto;
  aspect-ratio: 1;
  border-radius: 0.2em;
  margin-top: 1.8em;
  margin-right: -4em;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 1px 0 0.8rem gray;
}

.campaign-details-section {
  min-height: 70em;
  padding-top: 16em;
}

.card-details-container {
  display: flex;
  width: 70em;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  animation: sliderReveal 1s ease forwards;
}

.details-content-container {
  display: flex;
  flex-direction: column;
  padding: 4em;
  text-align: center;
}

.details-img-container img {
  position: relative;
  width: 30em;
  height: auto;
  aspect-ratio: 3/4;
  border-radius: 0.2em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.details-content-container p {
  font-size: 1.5em;
  font-weight: bold;
}

.details-content-container .card-saved {
  width: 1.2em;
  height: 1.8em;
  margin-left: 32em;
}

.details-content-container .card-saved img {
  width: 1.2em;
  height: auto;
}

.details-content-container .card-location {
  font-size: 2em;
}

.card-buttons-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

.card-action-btn {
  background-image: linear-gradient(147deg, #dafe39 0%, #38fda4 74%);
  width: 10em;
  border-radius: 3em;
  color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-action-btn a {
  color: white;
  font-size: 1.5em;
}

.delete-button,
.join-button {
  border: unset;
  padding: 0;
}
