.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(5em);
}

.img-container:hover {
  transform: translateY(0);
  transition: 0.5s ease;
}

.img-container img {
  width: 280px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 0.2em;
  box-shadow: 1px 0 0.2rem gray;
}

.content-container {
  position: relative;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.2em;
  font-size: 0.8em;
}

.campaign-details-section {
  min-height: 70em;
  padding-top: 16em;
}

.card-details-container {
  display: flex;
  width: 70em;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  animation: sliderReveal 1s ease forwards;
}

.details-content-container {
  width: 40em;
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  text-align: center;
}

.details-img-container img {
  position: relative;
  width: 33em;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 0.2em;
}

.details-content-container p {
  font-size: 1.5em;
  font-weight: bold;
}

.details-content-container .card-saved {
  width: 1.2em;
  height: 1.8em;
  margin-left: 32em;
}

.details-content-container .card-saved img {
  width: 1.2em;
  height: auto;
}

.details-content-container .card-location {
  font-size: 2em;
  margin-top: 1.5em;
}

.card-buttons-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

.card-action-btn {
  background-image: linear-gradient(147deg, #dafe39 0%, #38fda4 74%);
  width: 10em;
  border-radius: 3em;
  color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-action-btn a {
  color: white;
  font-size: 1.5em;
}

.delete-button,
.join-button {
  border: unset;
  padding: 0;
}

.join-button.disabled {
  opacity: 0.5;
  color: darkgray;
  cursor: not-allowed;
}
