.go-green-section {
  overflow-x: hidden;
}

.go-green-text h1 {
  width: 20em;
  text-align: center;
  padding-top: 26rem;
  /* padding-left: 2em; */
  margin: 0 auto 2em auto;
  font-size: 4em;
  font-weight: 100;
  animation: sliderReveal 1s ease forwards;
}

.go-green-text h3 {
  width: 30em;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
  margin-bottom: 12em;
}

.go-green-text p {
  font-size: 2em;
  text-align: center;
  width: 14em;
  /* margin: 0 auto; */
}

.paragraph-container {
  width: 100%;
  /* margin: 10em 0; */
  margin-left: -14em;
  padding: 0 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8em;
}

.paragraph-container img {
  width: 20em;
  height: 20em;
  border-radius: 10em;
}

.paragraph-container.even {
  flex-direction: row-reverse;
  margin-left: 13em;
}

.trail img {
  width: 40em;
  margin: 0 auto;
}

.go-green-bottom h2 {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin: 1em auto;
}

.go-green-bottom span {
  color: green;
}
