.my-campaigns {
  min-height: 60em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16em 6em;
}

.titles {
  width: 30em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
}

.title h2 {
  font-weight: 100;
  cursor: pointer;
}

.bold-text {
  font-weight: bold !important;
}

.my-campaigns-cards,
.saved-campaigns-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80em;
  margin: 0 auto;
}

.card-container {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.my-campaigns .card-date,
.my-campaigns .card-time,
.my-campaigns .card-location {
  font-size: 2em;
  text-align: center;
}

.no-campaigns {
  font-size: 1.5em;
}
