.my-profile-section {
  width: 80em;
  margin: 6em auto;
  padding-left: 22em;
  animation: sliderReveal 1s ease forwards;
}

.my-profile-container {
  width: 64em;
  height: 36em;
  display: flex;
  align-items: center;
}

.user-img {
  align-self: baseline;
  padding-top: 3em;
}

.user-img img {
  width: 22em;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12em;
}

.change-buttons {
  width: 30em;
  margin-top: 1.5em;
  margin-left: -4em;
  text-align: center;
}

.change-img-button {
  background-image: linear-gradient(147deg, #aaff00 0%, #38fda4 74%);
  width: 10em;
  border-radius: 3em;
  color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border: none;
  padding: 0.1em;
}

.modal-content input {
  border-radius: 0.2em;
}

.save-img-button,
.close-img-button {
  padding: 0 0.5em;
  border-radius: 0.2em;
}

.user-text {
  width: 26em;
  height: 10em;
  text-align: center;
  font-size: 1.8em;
  margin-left: -2em;
}

.user-name {
  font-size: 1.5em;
  margin-left: -3em;
}

.user-total-campaigns {
  margin-left: -4em;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding-left: 2em;
}

.rank p {
  width: 8em;
}

.question {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.question img {
  width: 0.6em;
}

.message {
  visibility: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 0 0.2rem gray;
  font-size: 0.6em;
  padding: 1em;
  border-radius: 0.2em;
}

.question:hover + .message {
  visibility: visible;
}
