.our-pride-section {
  margin: 10em auto 0 auto;
  padding: 2em;
  text-align: center;
}

.our-pride-text {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

.our-pride-text img {
  width: 18em;
  height: auto;
  aspect-ratio: 3/2;
  border-radius: 1em;
}

.our-pride-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8em;
  cursor: pointer;
}

.our-pride-paragraph:hover {
  transform: translateY(-1em);
}

.our-pride-paragraph p {
  font-size: 1.8em;
  padding-top: 0.5em;
}
