* {
  padding: 0;
  margin: 0;
  color: rgb(75, 75, 75);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: rgb(229, 228, 228);
}

body {
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
button {
  all: unset;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid rgb(75, 75, 75);
  margin: 0.2em;
  cursor: pointer;
}

::placeholder {
  color: rgb(75, 75, 75);
}

.submit-button {
  width: 6em;
  cursor: pointer;
}
