@media (max-width: 600px) {
  /* --------------------LAYOUT-------------------- */

  #site {
    max-width: 600px;
    overflow-x: hidden;
  }

  .menu-button {
    display: block;
    border: none;
    width: 1em;
    padding: 0 1em;
  }

  .menu-button.second {
    position: absolute;
    top: 0.8em;
    left: -0.4em;
  }

  header {
    position: relative;
    top: 10em;
  }

  nav {
    position: fixed;
    top: -100%;
    height: 100vh;
    width: 100%;
    padding-top: 5em;
    z-index: 100;
    opacity: 0.9;
    transition: top 0.3s ease;
    background-color: white;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    align-items: center;
    gap: 1.5em;
    padding: 1em 0;
    font-size: 1.5em;
  }

  .hero-title-section {
    height: 22em;
    margin: 0.2em auto;
    padding: 18em 0 26em 0;
  }

  .hero-title-section h1 {
    font-size: 7em;
  }

  .hero-title-section p {
    font-size: 2em;
    margin: 0 1em;
  }

  .footer-list {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }

  .footer-bottom {
    text-align: center;
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3em;
    right: 1em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: rgba(196, 196, 196, 0.5);
  }

  .back-to-top button {
    border: none;
  }

  /* --------------------WHO ARE WE-------------------- */

  .who-are-we-section {
    width: 26em;
    margin: 24em auto 2em auto;
    text-align: center;
  }

  .who-are-we-title {
    font-size: 6.5em;
  }

  .who-are-we-text {
    margin: -14em 1em 6em 1em;
  }

  .middle-img img {
    width: 16em;
  }

  /* --------------------OUR PRIDE-------------------- */

  .our-pride-text {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .our-pride-text img {
    width: 14em;
  }

  .our-pride-paragraph p {
    font-size: 1.6em;
    padding-top: 0;
  }

  /* --------------------CONTACT-------------------- */

  .contact-section {
    margin-top: 8em;
    padding-bottom: 20em;
  }

  .contact-container {
    width: 20em;
    flex-direction: column;
  }

  .contact-text {
    width: 12em;
  }

  /* --------------------ACTIVE CAMPAIGNS-------------------- */

  .campaigns-text h1 {
    width: auto;
    padding: 3.5em 0;
  }

  .campaigns-text p {
    width: 98%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    opacity: 0;
    animation: sliderReveal 1s ease forwards;
    animation-delay: 0.6s;
  }

  .active-campaigns {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding-bottom: 10em;
  }

  /* --------------------CAMPAIGN CARD-------------------- */

  .img-container {
    padding-top: 1em;
    transform: translateY(0em);
  }

  .campaign-details-section {
    min-height: 76em;
    padding-top: 10em;
  }

  .card-details-container {
    display: flex;
    flex-direction: column;
    width: 20em;
  }

  .details-img-container img {
    width: 20em;
  }

  .details-content-container {
    width: 20em;
  }

  .details-content-container .card-saved {
    margin-left: 15em;
  }

  .card-action-btn {
    width: 8em;
    font-size: 0.8em;
  }

  /* --------------------CREATE CAMPAIGN-------------------- */

  .create-title {
    padding: 12em 0.5em 8.5em 0.5em;
  }

  .create-form {
    margin-bottom: 2em;
  }

  .form-elements input,
  .form-elements textarea {
    width: 10em;
  }

  /* --------------------GO GREEN-------------------- */

  .go-green-text h1 {
    width: 6em;
    padding-top: 22rem;
    margin: 0 auto 4em auto;
  }

  .go-green-text h3 {
    width: 10em;
    margin-bottom: 4em;
  }

  .go-green-text p {
    width: 10em;
  }

  .paragraph-container {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    gap: 4em;
  }

  .paragraph-container.even {
    flex-direction: column;
    margin-left: 0;
  }

  .trail img {
    width: 20em;
    margin: 1em auto;
  }

  /* --------------------MY PROFILE-------------------- */

  .my-profile-section {
    width: auto;
    margin: 5em auto;
    padding-left: 0;
  }

  .my-profile-container {
    width: auto;
    flex-direction: column;
  }

  .user-img {
    width: 20em;
    padding-top: 0;
  }

  .user-img img {
    width: 20em;
    margin: 0 auto;
  }

  .change-buttons {
    width: auto;
    height: 10em;
    margin: 1.5em auto 0 auto;
  }

  .user-text {
    width: auto;
    margin: 0 auto;
  }

  .user-name,
  .user-total-campaigns {
    margin: 0 auto;
  }

  .modal-content input {
    width: 6em;
  }

  .rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding: 4.5em 0;
  }

  /* --------------------MY CAMPAIGNS-------------------- */

  .my-campaigns {
    padding: 12em 1em;
  }

  .titles {
    width: auto;
    margin: 8em auto 0 auto;
    align-items: center;
    text-align: center;
  }

  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
