.who-are-we-section {
  margin: 12em auto 2em auto;
  text-align: center;
}

.who-are-we-title {
  font-family: "Anton", sans-serif;
  font-size: 8.5em;
}

.who-are-we-text {
  position: relative;
  margin: -14em 2em 6em 2em;
  font-size: 2em;
  font-weight: 500;
}

.who-are-we-text h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.middle-img img {
  width: 30em;
  margin: 0 auto;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: grow;
}

@keyframes grow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.who-are-we-cards {
  width: 40em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 10em;
  height: 10em;
  padding: 2em;
  box-shadow: 1px 0 0.4rem gray;
  background-image: linear-gradient(147deg, #39fe71b4 0%, #38fdccb5 74%);
  border-radius: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-img {
  color: aquamarine;
  width: 4em;
}
