.card-container {
  display: flex;
  justify-content: center;
  margin: 3em auto;
}

.content-container {
  width: 600px;
  height: 14em;
  background-color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 1em;
  border-radius: 1em;
  font-weight: 500;
}

.img-container img {
  position: relative;
  width: 10em;
  height: auto;
  aspect-ratio: 1;
  border-radius: 1em;
  margin-top: 1.8em;
  margin-right: -6em;
}

.card-details {
  background-image: linear-gradient(147deg, #dafe39 0%, #38fda4 74%);
  width: 8em;
  padding: 0.3em;
  border-radius: 3em;
  color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin: 0.5em auto;
}

.campaign-details-section {
  /* height: 54em; */
  margin-top: 8em;
}

.details-content-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 30em;
  padding-top: 6em;
  background-color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 1em;
  text-align: center;
}

.details-img-container img {
  position: relative;
  width: 20em;
  height: auto;
  aspect-ratio: 5/3;
  border-radius: 1em;
  margin-bottom: -6em;
}

.details-content-container p {
  font-size: 1.5em;
  font-weight: bold;
}

.details-content-container .card-location {
  font-size: 2em;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buttons-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

.card-action-btn {
  background-image: linear-gradient(147deg, #dafe39 0%, #38fda4 74%);
  width: 10em;
  padding: 0.5em 2em;
  border-radius: 3em;
  color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  /* margin: 0 auto; */
}

.delete-button,
.join-button {
  border: unset;
  padding: 0;
}
