.contact-section {
  margin: 6em 10em 0 10em;
  padding-bottom: 4em;
}

.contact-container {
  display: flex;
  justify-content: space-around;
}

.contact-section h1 {
  font-family: "Anton", sans-serif;
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 2px rgb(117, 106, 106);
  text-align: center;
  margin-bottom: 1em;
}

.contact-text {
  width: 14em;
  font-size: 1.8em;
  color: white;
  text-align: center;
}
