.my-campaigns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.my-campaigns h3 {
  font-size: 3em;
}

.my-campaigns .card-date,
.my-campaigns .card-time,
.my-campaigns .card-location {
  font-size: 2em;
  text-align: center;
}
