.my-campaigns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.2em;
  margin-bottom: 2em;
}

.my-campaigns .card-container {
  margin-top: 6em;
  padding-bottom: 4em;
  animation: sliderReveal 1s ease forwards;
}

.my-campaigns .card-date,
.my-campaigns .card-time,
.my-campaigns .card-location {
  font-size: 2em;
  text-align: center;
}
