* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: rgb(229, 228, 228);
}

body {
  background-color: white;
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 1em;
}

button {
  all: unset;
  padding: 0.3em;
  border-bottom: 2px solid white;
  cursor: pointer;
}

input,
textarea {
  all: unset;
  text-align: center;
  width: 14em;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid white;
}

::placeholder {
  color: white;
  text-shadow: 1px 1px 2px rgb(117, 106, 106);
  /* font-size: 1.5em; */
}

.submit-button {
  width: 6em;
  color: white;
  text-shadow: 1px 1px 2px rgb(117, 106, 106);
  /* font-size: 1.5em; */
  cursor: pointer;
}
